.container {
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(100%, 20rem);
    gap: 20px;
    justify-content: center;
} 

.load-btn {
    margin-top: 30px;
    color: var(--secondary-text);
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    font-size: 1rem;
    opacity: 0.7;
}

.load-btn svg path {
    fill: var(--secondary-text);
}

.load-btn:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

@media (min-width: 40rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 65rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .load-btn {
        margin-top: 40px;
    }
}