.main {
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    gap: 20px;
}

.profile-pic-container {
    width: 100%;
    max-width: 500px;
    max-height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.profile-pic-container img {
    width: 100%;
    object-fit: cover;
}

.description {
    text-align: center;
}

.description h1 {
    font-size: 2.25rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.description h2 {
    padding-top: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1.75rem;
}

.description p,
.description a {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.375rem;
}

.description a {
    color: var(--grid-container-text);
    text-decoration: underline;
}

.cs50-link,
.cs50-link a {
    color: var(--secondary-text);
    font-size: 0.95rem;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.languages svg path {
    fill: var(--next-color);
}

@media (min-width: 60rem) {
    .grid-container {
        grid-template-columns: minmax(400px, 45%) 1fr;
        gap: 60px;
        align-items: center;
        margin-top: 50px;
    }
    .profile-pic-container {
        max-width: unset;
        max-height: unset;
    }
    .profile-pic-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}
